#infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 0.1em;
}
#startGame {
    width: 98%;
    height: 2.1em;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5em;
    color: blueviolet;
    background-color: aquamarine;
    border-radius: 0.2em;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 1px 1px;
}
#startGame:active {
    transform: translate(1px, 1px);
    box-shadow: none;
    background-color: mediumaquamarine;
}
#startGame.disabled {
    cursor: no-drop;
    background-color: mediumaquamarine;
}
#startGame:active.disabled {
    box-shadow: 1px 1px;
    transform: none;
}
.player_card {
    display: flex;
    width: 100%;
    margin: 2px auto;
    border: gray 1px solid;
    border-radius: 2px;
    background-color: lightgrey;
}
.player_card .player_image_wrapper {
    width: 70px;
}
.player_card .player_image_wrapper img {
    width: 100%;
}
.player_card .player_name {
    margin-block: 0.5em;
}
.player_card .player_status {
    margin-block: 0.5em;
    color: darkslategray;
}
.player_card.myself {
    border-width: 2px;
}
.player_card.walking {
    background-color: #ECEFF1;
}
.player_card.walking .player_status {
    font-weight: bold;
}
.player_card.owner {
    border-color: #ffa100;
}